NODE_ENV=test
TEST_DB_HOST=127.0.0.1
TEST_DB_PORT=5432
TEST_DB_NAME=calendar_test
TEST_DB_USER=visiomath
TEST_DB_PASSWORD=visiomath_secret
JWT_SECRET=test_jwt_secret_for_e2e
INTERNAL_SECRET=test_internal_secret
