PORT=3006
DATABASE_URL=postgres://user:pass@localhost:5432/dashboard_notification
JWT_SECRET=changeme
INTERNAL_SECRET=changeme
NODE_ENV=development
REDIS_URL=redis://localhost:6379
PROFILE_SERVICE_URL=http://localhost:3002
IDENTITY_ACCESS_SERVICE_URL=http://localhost:3001
